@page "/logina"
@using Microsoft.AspNetCore.Identity; 
@using VSM.Service;
@inject daoAuditoria vm;

@inject NavigationManager Navigation

<h3>Login</h3>
 <a href="/registro">Registro</a>
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}
<div class="align-items-center">
    <EditForm Model="usuario" OnValidSubmit="HandleLogin">
       
        <div class="form-group">
            <label for="Email">Email</label>
            <InputText id="Email" class="form-control" @bind-Value="usuario.Email" />
        </div>

        <div class="form-group">
            <label for="Password">Senha</label>
            <InputText id="Password" class="form-control" type="password" @bind-Value="usuario.Senha" />
        </div>
       
        <button type="submit" class="btn btn-success mt-1"><i class="fa-solid fa-check mr-1"></i>Login</button>
    </EditForm>

</div>
@code {
     private Usuario usuario = new Usuario();
    private string errorMessage;

    private async Task HandleLogin()
    {
         
    }

     
}
